<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <title>index</title>
    <script></script>
  </head>

  <body>
    <div th:if="${loginConfirm == 'notMatchPwd'}">
      <script th:inline="javascript">
        alert("비밀번호가 일치하지 않습니다.");
        location.href="/login";
      </script>
    </div>
    <div th:if="${loginConfirm == 'notExistAccount'}">
      <script th:inline="javascript">
        alert("존재하지 않는 계정입니다.");
        location.href="/login";
      </script>
    </div>
  </body>
</html>
