<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:if="${exist == 'alreadyExist'}">
      <script th:inline="javascript">
        function callAlreadyExist() {
          alert("이미 존재하는 계정입니다.");

          window.location.href = "/register";
        }

        callAlreadyExist();
      </script>
    </div>
    <div th:if="${exist == 'registerSuccess'}">
      <script th:inline="javascript">
        function callRegisterSuccess() {
          alert("회원가입이 성공적으로 완료 되었습니다.");

          window.location.href = "/";
        }

        callRegisterSuccess();
      </script>
    </div>
  </body>
</html>
