<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script>
      function getUpdatePage() {
        if (confirm("회원정보를 수정하시겠습니까?")) {
          document.getElementById("updateForm").submit();
        }
      }

      function getDeletePage() {
        if (confirm("회원탈퇴를 진행하시겠습니까?")) {
          document.getElementById("deleteForm").submit();
        }
      }
    </script>
    <title>Index</title>
    <style>
      #buttonDiv {
        width: 500px;
        text-align: center;
      }
      #moveLogin,
      #moveRegister {
        width: 130px;
        height: 40px;
      }
      #moveUpdate,
      #moveDelete,
      #requestLogout {
        width: 130px;
        height: 40px;
      }
      #updateForm,
      #deleteForm,
      #logoutForm {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div th:if="${session.memberSession == null}">
      <div id="buttonDiv">
        <button type="submit" id="moveLogin" onclick="location.href='/login'">로그인 하러가기</button>
        <button type="submit" id="moveRegister" onclick="location.href='/register'">회원가입 하러가기</button>
      </div>
    </div>
    <div th:if="${session.memberSession != null}">
      <div id="userAccount">
        <h3>ID : [[${session.memberSession.userId}]]</h3>
        <h3>PWD : [[${session.memberSession.userPwd}]]</h3>
      </div>
      <div id="buttonDiv">
        <form action="#" id="updateForm" th:action="@{/update}" method="get">
          <button type="button" id="moveUpdate" onclick="getUpdatePage()">회원정보 수정</button>
        </form>
  
        <form action="#" id="deleteForm" th:action="@{/delete}" method="get">
          <button type="button" id="moveDelete" onclick="getDeletePage()">회원탈퇴</button>
        </form>

        <form action="#" id="logoutForm" th:action="@{/logout}" th:method="delete">
          <button type="submit" id="requestLogout">로그 아웃</button>
        </form>
      </div>
    </div>
  </body>
</html>
