<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <title>index</title>
    <style>
      #buttonDiv {
        width: 300px;
        text-align: center;
      }
      #moveUpdate,
      #moveDelete {
        width: 130px;
        height: 40px;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="userAccount">
      <h3>ID : [[${memberData.userId}]]</h3>
      <h3>PWD : [[${memberData.userPwd}]]</h3>
    </div>
    <div id="buttonDiv">
      <button
        type="button"
        id="moveUpdate"
        onclick="javascript:function memberUpdate() {
          const memberObject = '[[${memberData}]]';
        fetch('/update', {
              method: 'get',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                userId: memberObject.userId,
                userPwd: memberObject.userPwd
              })
            }).then((response) => {
              return response.text()
            }).then(function(html) {
              document.body.innerHTML = html
            });
      }"
      >
        회원정보 수정
      </button>
      <button type="button" id="moveDelete">회원탈퇴</button>
    </div>
  </body>
</html>
