<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <title>회원 정보수정</title>
    <style>
      label {
        display: inline-block;
        text-align: center;
        width: 130px;
        font-weight: bold;
      }
      #updateBtn {
        width: 100px;
        height: 30px;
        margin-left: 343px;
      }
      #currentUserId,
      #currentUserPwd,
      #updateUserPwd {
        width: 300px;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <h1>회원정보 수정</h1>
    <form action="#" th:action="@{/update}" th:object="${updateForm}" th:method="put">
      <label for="userId">현재 아이디 : </label>
      <input type="text" name="currentUserId" id="currentUserId" th:field="*{currentUserId}" />
      <br />
      <label for="userPwd">현재 비밀번호 : </label>
      <input type="text" name="currentUserPwd" id="currentUserPwd" th:field="*{currentUserPwd}" />
      <br />
      <label for="userPwd">새로운 비밀번호 : </label>
      <input type="text" name="updateUserPwd" id="updateUserPwd" th:field="*{updateUserPwd}" />
      <div id="btnDiv">
        <input type="submit" value="수정 완료" id="updateBtn" />
      </div>
    </form>
  </body>
</html>
